/* You can add global styles to this file, and also import other style files */
html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

circle.vehicle {
  fill: red
}

text.histo.title{
  text-anchor:middle;
  font-size:120%;
  font-weight: bold;
  fill: #444;
}

g.histo.legend.events-per-second text.name{
  text-anchor: end;
}

g.histo.vehicle path {
  fill:none;
  stroke:grey;
  stroke-width:1
}

g.histo.vehicle.route-type-RAIL path {
  stroke:#ff032c;
}
circle.vehicle.route-type-RAIL {
  fill: #ff032c;
}

g.histo.vehicle.route-type-BUS path {
  stroke:#ffd605;
}
circle.vehicle.route-type-BUS {
  fill: #ffd605;
}

circle.vehicle.route-type-TRAM {
  fill: #0028ff;
}
g.histo.vehicle.route-type-GONDOLA path {
  stroke:#048020;
}
circle.vehicle.route-type-GONDOLA {
  fill: #048020
}
g.histo.vehicle.route-type-BAT path {
  stroke:#lightgray;
}
circle.vehicle.route-type-BAT {
  fill: white;
}

svg.topo-json-map g.feature.feature-country path{
  fill: #bbb;
}

svg.topo-json-map g.feature.feature-cantons path {
  fill: none;
  stroke: #888;
  stroke-width: .7;
}
svg.topo-json-map g.feature.feature-lakes path   {
  fill: steelblue;
}

svg.topo-json-map g.feature.feature-municipalities path{
  fill: none;
  stroke: #666;
  stroke-width: .3;
}
